/* COMMON TEXT STYLE */
.common {
    font-size: 1.5rem;
    line-height: 1.5;
}

/* TIMELINE STYLE */
body {
    margin-top: 20px;
}

.content {
    border-left: 4px solid var(--emphasis);
}

.timeline {
    border-left: 3px solid var(--emphasis);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.63em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}


.timeline .event {
    font-weight: 100;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 600;
    font-size: 0.9em;
    min-width: 120px;
    color: var(--hover);
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px var(--emphasis);
    left: -55.8px;
    background: var(--font-primary);
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}



.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

/* ICON STYLE */
.svg-group {
    border: 2px solid var(--hover);
    background-color: var(--emphasis);
    height: 120px;
    width: 120px;
    padding: 10px;
    margin-top: 20px;
}

.icon-list {
    display: flex;
    justify-content: space-around;

}




.future-list li {
    list-style: none;
    font-size: larger;
    color: var(--hover);
}

.future-title {
    color: var(--emphasis);
}




/* SCROLL ANIMATIONS */
.scroll-watcher {
    height: 10px;
    margin:0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--emphasis);
    width: 100%;
    scale: 0 1;
    transform-origin: top left;
    animation: scroll-watcher linear forwards;
    animation-timeline: scroll();
}

  

.intro {
    /* STYLES */
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 90px;
    animation: fadeInScrollOut1 .8s ease-in-out forwards;
}

@media (min-width: 768px) {
    .intro {
        margin-bottom: 100px;
    }
}

.scrollTimeline{
    animation: fadeInScrollTimeline 1s linear forwards;
    animation-timeline: view();
    animation-range: exit -150px;
}

.scroll {
    animation: fadeInScroll 1s linear forwards;
    animation-timeline: view();
    animation-range: exit -90px;
}

@keyframes fadeInScroll {
    to {
        opacity: 0;
        scale: .9;
    }
}

@keyframes scroll-watcher {
    to {
        scale: 1 1;
    }
}

@keyframes fadeInScrollTimeline {
    to {
        opacity: 0;
        scale: 1;
    }
}