:root {
    --background-primary: #2e3033;
    --nav-background: #222324;
    --emphasis: #4f95b6;
    --font-primary: #FFFCF2;
    --hover: #b9becc;
    --standard-font-size: 1rem;
}

/* GLOBAL STYLES */
* {
    font-family: "Palanquin Dark", sans-serif;
    background-color: var(--background-primary);
    color: var(--font-primary);
}

.brand {
    color: var(--font-primary);
    font-size: 1.85rem;
}

.emphasis {
    color: var(--emphasis);
    background-color: transparent;
}

/* NAVIGATION STYLES */
.nav {
    background-color: var(--nav-background);
}

.active {
    background-color: var(--emphasis) !important;
    color: var(--font-primary);
}

.nav-fill .nav-link {
    color: var(--emphasis);
    background-color: var(--nav-background);
}

.nav-fill .nav-link:hover {
    color: var(--hover);
}

.nav-item {
    background-color: var(--nav-background);
}

.nav-neg {
    background-color: var(--background-primary);
}


/* CONTACT FORM STYLES */
.btn-submit{
    background-color: var(--emphasis)!important;
}



@keyframes flash {
    0% { color: var(--emphasis); } /* Start with red color */
    50% { color: var(--hover); } /* Flash to yellow color */
    100% { color: var(--emphasis); } /* Return to red color */
  }

.flash {
    animation: flash .75s 1;
}

/* FOOTER STYLES */



.footer-icon:hover {
    fill: var(--hover);
}

.form-title{
    font-size: x-large;
}


